.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.text-center {
  text-align: center;
}

.pageTitle {
  border-bottom: 2px solid white;
  font-weight: bold;
  font-size: 4.5vw;
  color: white;
}

.wholePage {
  font-family: "Comic Sans MS", sans-serif;
  background-color: rgba(0, 0, 0, 0.900);
}

.movieDiv {
  border: 7px solid rgb(141, 141, 141);
  background-color: rgb(216, 216, 216);
  width: 50%;
  margin-left: 21%;
  margin-bottom: 5%;
  padding: 3%;
  border-radius: 36%;
}

.Button {
  width: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 3vw;
  background-color: rgba(255, 255, 0, 0.952);
  border: 7.5px solid rgba(0, 255, 255, 0.795);
  color: rgb(255, 0, 0);
}